{% extends 'base.html' %}
{% load static %}

{% block content %}
    <p>{{ page }}</p>

    {% for name, value in sess.items %}
        <p>{{name}} : {{value}}</p>
    {% endfor %}

    <p>{{user_login}}</p>

    <!-- PAY_PREPARE MODAL TRIGGER -->
    <button class="btn btn-dark" data-toggle="modal" data-target="#payModal">Пополнить счет</button>

    <!-- PAY_PREPARE MODAL -->
    <div class="modal" id="payModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Пополнение лицевого счета</h5>
            <button class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="sum">Сумма в рублях</label>
                <input id="payment_sum" name="payment_sum" type="number"
                       min="10" value="10" step=".01" placeholder="Сумма платежа"
                       class="form-control" required onkeypress="return isNumber(event)" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" onclick="send_pay_prepare()">Пополнить</button>
          </div>
        </div>
      </div>
    </div>


    <!-- PAY_CONFIRM MODAL -->
    <div class="modal d-none" id="payConfirmModal"">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Подтверждение платежа</h5>
            <button class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            Подтвердите платеж на сумму: <span id="confirm_sum_show"></span> рублей. <br />
              <form action="https://wpay.uniteller.ru/pay/" method="POST">
                <input type="hidden" name="Shop_IDP" value="00015162">
                <input type="hidden" id="Order_IDP" name="Order_IDP" value="">
                <input type="hidden" name="CallbackFields" value="Customer_IDP BillNumber Total">
                <input type="hidden" id="Subtotal_P" name="Subtotal_P" value="">
                <input type="hidden" id="Customer_IDP" name="Customer_IDP" value="">
                <input type="hidden" id="Signature" name="Signature" value="">
                <input type="hidden" name="URL_RETURN_OK" value="http://127.0.0.1:8000/">
                <input type="hidden" name="URL_RETURN_NO" value="http://127.0.0.1:8000/">

          </div>
          <div class="modal-footer">
              <input type="submit" name="Submit" value="Оплатить">
              </form>
            <!--<button class="btn btn-primary" data-dismiss="modal">Подтверждаю</button>-->
          </div>
        </div>
      </div>
    </div>


{% endblock %}

{% block javascript %}
    <!--<script language="JavaScript" type="text/javascript">-->
        <!--$("#payment_sum").change(function () {-->
            <!--console.log( $(this).val() );-->
        <!--});-->
    <!--</script>-->


    <script>
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }


        function getCookie(c_name)
        {
            if (document.cookie.length > 0)
            {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1)
                {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start,c_end));
                }
            }
            return "";
         }


        function send_pay_prepare() {
            var confirm_sum_show = document.getElementById('payment_sum').value;
            //var Subtotal_P = document.getElementById('Subtotal_P').value;
            //var Order_IDP = document.getElementById('Order_IDP').value;
            //var Customer_IDP = document.getElementById('Customer_IDP').value;
            //var Signature = document.getElementById('Signature').value;

            if(confirm_sum_show===''){return;}
            console.log(confirm_sum_show)
            $.ajaxSetup({ headers: { "X-CSRFToken": getCookie("csrftoken"),
                                    "X-Requested-With": "XMLHttpRequest" }});
            $.ajax({
                type: "POST",
                url: "{% url 'pay_prepare' %}",
                data: {
                    'payment_sum': confirm_sum_show
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data.Order_IDP)
                    $("#confirm_sum_show").text(confirm_sum_show);
                    document.getElementById('Subtotal_P').value = data.Subtotal_P;
                    document.getElementById('Order_IDP').value = data.Order_IDP;
                    document.getElementById('Customer_IDP').value = data.Customer_IDP;
                    document.getElementById('Signature').value = data.Signature;
                    $('#payConfirmModal').removeClass( "d-none" );
                    $('#payConfirmModal').modal('show');
                    //send_pay(data);
                }
            });
        };


        function send_pay(post_data) {
            if(post_data==='' | post_data===null){return;}
            console.log(post_data.Customer_IDP)

            $.ajaxSetup({ headers: { "Access-Control-Allow-Origin": "*"}});
            $.ajax({
                type: "POST",
                url: "{% url 'pay_prepare' %}",
                crossDomain: true,
                xhrFields: { withCredentials: true },
                dataType: 'json',
                data: post_data,
                success: function (data) {
                    console.log(data)
                }
            });
        };
    </script>

{% endblock %}